@font-face {
    font-family: Bicyclette;
    src: url("/fonts/Kostic - Bicyclette-Light.otf") format("opentype");
    font-weight: 200;
    /* font-style: light; */
}

@font-face {
    font-family: Bicyclette;
    src: url("/fonts/Kostic - Bicyclette-Regular.otf") format("opentype");
    font-weight: 300;
    /* font-style: regular; */
}

@font-face {
    font-family: Bicyclette;
    src: url("/fonts/Kostic - Bicyclette-Bold.otf") format("opentype");
    font-weight: 400;
    /* font-style: bold; */
}
